<div class="index-container">
   <div class="index-title">IronHack Cinema</div>
   <div class="submit-button">
        <a href="/movies" class="btn btn-primary">Check the movies!</a>
   </div> 
</div>
